@import "../../utilities.css";

/*Image aesthetics refs https://www.w3schools.com/howto/howto_css_image_center.asp 
https://www.w3schools.com/howto/howto_css_image_responsive.asp https://www.w3schools.com/howto/howto_css_rounded_images.asp
https://www.freecodecamp.org/news/how-to-center-an-image-in-css/ */

.imgUpLeft {
  display: flex;
  width: 65%;
  height: auto;
  align-items: center;
  margin-left: 5%;
  justify-content: center;
}

.imgUpRight {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 2.5vmin;
}

.postLeft {
  display: flex;
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.postRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 2.5vmin;
}

/* ref: https://codepen.io/MustafaEmad/pen/NArYZL */
/* ref: https://www.w3schools.com/css/css3_shadows_box.asp */
.post {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 60%;
  color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.postColumn {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 70%;
  color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.paddedText {
  padding: var(--l);
}

.fontRed {
  color: red;
}

/*these are from catbooks*/
.kyawSample {
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  /* div height to be the same as width*/
  padding-top: 100%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/images/Trees.png");
}

.dinaSample {
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  /* div height to be the same as width*/
  padding-top: 100%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/images/Flowers.jpg");
}

/* ***************************************************************************** */
/* I don't think we are using these any more. Might want to clean these up later */
/* ***************************************************************************** */
.center_image {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 10%;
}
/*ref https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01*/
/*https://stackoverflow.com/questions/2020496/how-to-set-a-border-for-an-html-div-tag*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.nametext {
  text-align: center;
  font-weight: 600;
  color: var(--primary);
  font-size: var(--headingSize); /*ref https://www.w3schools.com/css/css_font_size.asp*/
}

/*ref https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Center_an_element*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* .column_img {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1.5;
}

.column_text {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1;
  padding: 30px;
} */

/*ref https://www.sketchingwithcss.com/samplechapter/cheatsheet.html*/

/* .flexcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */
