@import "../../utilities.css";

/*Image aesthetics refs https://www.w3schools.com/howto/howto_css_image_center.asp 
https://www.w3schools.com/howto/howto_css_image_responsive.asp https://www.w3schools.com/howto/howto_css_rounded_images.asp
https://www.freecodecamp.org/news/how-to-center-an-image-in-css/ */

:root {
  --imgSize: 50%%;
}

.homeImg {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.imgUpLeft {
  display: flex;
  width: 60%;
  height: auto;
  align-items: center;
  margin-left: 5%;
  justify-content: center;
}

.imgUpRight {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1.4vw;
  position: relative;
}

.imgUpTextArea {
  font-family: Roboto, sans-serif;
  font-size: 1.1vw;
  /* color: var(--primary); */
  width: 90% !important;
  /* border-radius: 2%; */
  opacity: 1;
}

::placeholder {
  /* color: var(--primary); */
  font-size: 1.1vw;
  opacity: 0.2;
}

.postLeft {
  display: flex;
  width: 50%;
  height: auto;
  /* height: fit-content; */
  align-items: center;
  justify-content: center;
  /* max-height: 100%;
  overflow: hidden; */
}

.postRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 1.1vw;
  position: relative;
}

/* ref: https://codepen.io/MustafaEmad/pen/NArYZL */
/* ref: https://www.w3schools.com/css/css3_shadows_box.asp */
.post {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 60%;
  height: fit-content;
  /* height: 500px; */
  color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  /* max-height: 500px;
  overflow: auto; */
}

.postColumn {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 70%;
  color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.button {
  transition-duration: 0s;
  opacity: 0.7;
  border: none;
  background-color: transparent;
}

.disabledButton {
  transition-duration: 0s;
  opacity: 0.7;
  border: none;
  background-color: transparent;
}

.button:hover {
  opacity: 1;
}

.solidButton {
  transition-duration: 0s;
  /* opacity: 1; */
  border: none;
  background-color: transparent;
}

.fontAwesomeTR {
  position: absolute;
  top: 0;
  right: -1.8%;
}

.fontAwesomeBR {
  position: absolute;
  bottom: 0;
  right: -1.8%;
}

/* To display tooltip immediately on mouse hover */
.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper:hover::after {
  position: absolute;
  content: attr(data-tooltip);
  bottom: -2.5em;
  right: -1em;
  background-color: #333;
  color: white;
  padding: 0.25em 0.5em;
  font-size: 0.8em;
}

/* Many thanks to Kye for the kind help with CSS styling of the trash can icon in hackathon */
.fa-trash-alt {
  /* width: 1.5vw !important; important overrides anywhere else where you set the width */
  font-size: 2vw !important; /* !important; important overrides anywhere else where you set the width */
}

/* Many thanks to Kye for the kind help with CSS styling of the trash can icon in hackathon */
.fa-arrow-alt-circle-right {
  font-size: 3vw !important; /* !important; important overrides anywhere else where you set the width */
}

.fa-flag-checkered {
  font-size: 3vw !important; /* !important; important overrides anywhere else where you set the width */
}

.fa-save {
  font-size: 3vw !important; /* !important; important overrides anywhere else where you set the width */
}

.saveIcon {
  position: absolute;
  bottom: 0.5%;
  right: -0.2%;
}

.paddedText {
  padding: var(--l);
}

.fontRed {
  color: red;
}

/*these are from catbooks*/
.imgSample {
  /* make it responsive */
  /* max-width: 100%; */
  /* width: var(--imgSize); */
  width: 100%;
  height: auto;
  display: block;
  /* div height to be the same as width*/
  padding-top: 100%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.kyawSample {
  background-image: url("../../public/images/Trees.png");
}
.dinaSample {
  background-image: url("../../public/images/Flowers.jpg");
}

/* Quiz button styling from ref: https://www.bestcssbuttongenerator.com/#/23 */
.quizButton {
  width: 60%;
  /* width: fit-content; */
  height: 50px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 3px solid var(--primary);
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Roboto;
  font-size: 1.2vw;
  /* font-weight: bold; */
  /* padding: 1% 5% 1% 5%; */
  text-decoration: none;
  text-shadow: 0px 1px 1px #ebebeb;
  margin-bottom: 0.9vh;
}
.quizButton:hover {
  background: linear-gradient(to bottom, #c1f0f8 0%, #c1f0f8 100%);
  /* background-color: #b2effa; */
}
.quizButton:active {
  position: relative;
  top: 1%;
}

/* Quiz button styling from ref: https://www.bestcssbuttongenerator.com/#/23 */
.quizButtonClicked {
  /* background: linear-gradient(to bottom, #ffe0e0 5%, #ffa9a9 100%); */
  background: linear-gradient(to bottom, #fdcfce 5%, #fdcfce 100%);
}

.quizButtonClickedCor {
  /* background: linear-gradient(to bottom, #dbffd4 0%, #8dffa6 100%); */
  background: linear-gradient(to bottom, #ceffce 0%, #ceffce 100%);
}

.quizButtonNotClicked {
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
}

.quizEndButton {
  width: 25%;
  height: 100%;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Roboto;
  font-size: 0.8vw;
  /* font-weight: bold; */
  /* padding: 6px 24px; */
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.quizEndButton:hover {
  background: linear-gradient(to bottom, #dbffd4 0%, #8dffa6 100%);
  background-color: #dbffd4;
}
.quizEndButton:active {
  position: relative;
  top: 1px;
}

/* ***************************************************************************** */
/* I don't think we are using these any more. Might want to clean these up later */
/* ***************************************************************************** */
.center_image {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 10%;
}
/*ref https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01*/
/*https://stackoverflow.com/questions/2020496/how-to-set-a-border-for-an-html-div-tag*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.nametext {
  text-align: center;
  font-weight: 600;
  color: var(--primary);
  font-size: var(--headingSize); /*ref https://www.w3schools.com/css/css_font_size.asp*/
}

.profiletext {
  color: var(--primary); /*ref https://www.w3schools.com/css/css_font_size.asp*/
}

.dateText {
  /*text-align: center;*/
  color: var(--datecolor);
  font-size: 0.7vw; /* ref https://www.w3schools.com/css/css_font_size.asp */
}

.uploadText {
  /*text-align: center;*/
  font-weight: 600;
  color: var(--primary); /*var(--primary);*/
  font-size: 3vw; /*ref https://www.w3schools.com/css/css_font_size.asp*/
  border-style: solid; /*https://www.computerhope.com/issues/ch001392.htm*/
  border-color: var(--secondary);
  border-radius: 2%;
  padding: 20%;
}

/*ref https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Center_an_element*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* .column_img {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1.5;
}

.column_text {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1;
  padding: 30px;
} */

/*ref https://www.sketchingwithcss.com/samplechapter/cheatsheet.html*/

/* .flexcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */
