/* From catbook-react code, many thanks to Web Lab team*/

.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--primary);
  align-items: center;
  display: flex;
  justify-content: left;
}

.NavBar-title {
  color: var(--white);
  font-size: 25px;
}

.NavBar-linkContainer {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.NavBar-link,
.NavBar-logout,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
  padding: 0 var(--m);
}

.NavBar-link:hover {
  opacity: 1;
}

/* .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  } */

.NavBar-link.NavBar-login {
  opacity: 1;
}
